<!DOCTYPE html>
<html lang=>
  <%- include('../partials/head', {webtitle: "Iniciar sesión"}) %>
  <%- include('../partials/header') %>
    <main>
    <body>
      <section class="intermediate">
        <h1>LA VENTA HA SIDO EXITOSA</h1>
        <a style="text-decoration: none;" href="/cart/sell">Ir a intefaz de ventas</a>
      </section>
    </body>
    </main>
</html>