<!DOCTYPE html>
<html lang=>
  <%- include('../partials/head', {webtitle: "Iniciar sesi칩n"}) %>
  <%- include('../partials/header') %>
    <main>
    <body>
      <section class="intermediate">
        <h1>Restablecimiento de contrase침a enviado</h1>
        <p>Se ha enviado un correo electr칩nico con instrucciones para restablecer tu contrase침a. Si no lo encuentras en tu bandeja de entrada, revisa la carpeta de correo no deseado.</p>
      </section>
    </body>
    </main>
</html>