<!DOCTYPE html>
<html lang=>
  <%- include('../partials/head', {webtitle: "Iniciar sesión"}) %>
  <%- include('../partials/header') %>
    <main>
      <body>
        <H1>ACCESO DENEGADO</H1>
      </body>
    </main>
</html>